table {
    width: 100%;
}

th {
    font-weight: 500;
}



td, th {
    font-size: 0.85rem;
    color: var(--muted-color);
    text-align: start;
    white-space: nowrap;
    border-right-color: var(--muted-color);
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
 
    &:last-child {
        border-right-color: transparent;
    }
}

tbody {
    border-color: transparent;
}
 
tr:nth-child(even) td {
    background: var(--table-light-background);
}

.available, .unavailable {

    padding: 5px 13px;
    border-radius: 15px;
    display: inline-block;
}

.available {
    background-color: #e9f8f3;
}

.unavailable {
    background-color: #f6e3dc;
}

mat-paginator {
    font-size: 0.85rem;
    color: var(--muted-color);
}