<table class="table">
    <thead>
        <tr>
            <ng-container *ngFor="let column of columns">
                <th>
                    {{column}}
                </th>
            </ng-container>
        </tr>
    </thead>
    <tbody *ngIf="products.length > 0; else noResults">
        <ng-container >
            <tr *ngFor="let product of products; let index = index">
                <td>{{product.name}}</td>
                <td>S/.{{product.price}}</td>
                <td> {{product.stock}}</td>
                <td>{{product.category.name}}</td>
                <td>
                    <div class="available" *ngIf="product.isActive">Available</div>
                    <div class="unavailable" *ngIf="!product.isActive">Unavailable</div>
                </td>
                <td>
                    <button mat-icon-button color="accent" (click)="openProductFormDialog(product.productId)">
                        <mat-icon>edit</mat-icon>
                    </button>
                </td>
            </tr>
        </ng-container>

    </tbody>
</table>
<ng-template #noResults>
  <app-no-results-table></app-no-results-table>
</ng-template>
<mat-paginator *ngIf="paginatorResult"
               [length]="paginatorResult.totalElements"
               [pageSize]="size"
               [hidePageSize]="false"
               (page)="onPageChange($event)">
</mat-paginator>
