<div class="container" [formGroup]="productForm">
    <div class="form-container" >
        <h3>Create a new product</h3>
        <div  class="form-content">
            
            <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput type="text" formControlName="name">
                <mat-error *ngIf="name?.hasError('required')">Name is required</mat-error>
                <mat-error *ngIf="name?.hasError('minlength')">Minimun characters: 3</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Description</mat-label>
                <input matInput type="text" formControlName="description">
                <mat-error *ngIf="description?.hasError('required')">Description is required</mat-error>
            </mat-form-field>
            <div class="input-group">
                <mat-form-field floatLabel="always" appearance="outline">
                    <mat-label>Price</mat-label>
                    <input matInput type="text" formControlName="price" placeholder="0">
                    <span matTextPrefix>S/.&nbsp;</span>
                    <mat-error *ngIf="price?.hasError('required')">Price is required</mat-error>
                    <mat-error *ngIf="price?.hasError('pattern')">Invalid price. Example: 25.30</mat-error>
                </mat-form-field>
                <mat-form-field floatLabel="always" appearance="outline">
                    <mat-label>Stock</mat-label>
                    <input class="numberInput" matInput type="number" formControlName="stock" placeholder="0">
                    <mat-error *ngIf="stock?.hasError('required')">Stock is required</mat-error>
                    <mat-error *ngIf="stock?.hasError('min')">Stock can't be negative</mat-error>
                </mat-form-field>
            </div>

            <mat-form-field appearance="outline">
                <mat-label>Select a category</mat-label>
                <mat-select [(value)]="selected" formControlName="category">
                  <mat-option>None</mat-option>
                  <mat-option [value]="category" *ngFor="let category of categories">
                    <div class="selectWithIcon">
                        <i [ngClass]="category.icon"></i>
                        <div class="name">{{ category.name }}</div>
                    </div>
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="category?.hasError('required')">Category is required</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Image url</mat-label>
                <input matInput type="text" formControlName="imageUrl" (change)="onLoadImage()" >
                <mat-error *ngIf="imageUrl?.hasError('required')">Image is required</mat-error>
                <mat-error *ngIf="imageUrl?.hasError('image')">Provide a valid link for the image.</mat-error>
            </mat-form-field>

            <!-- <mat-radio-group aria-label="Select an option" formControlName="active" >
                <mat-radio-button [value]="true">Active</mat-radio-button>
                <mat-radio-button [value]="false">Disable</mat-radio-button>
              </mat-radio-group> -->
              <!-- <button type="button" mat-raised-button (click)="fileInput.click()">Choose File</button>
              <input hidden (change)="onFileSelected()" #fileInput type="file" id="file"> -->

            <button class="action-button" mat-raised-button color="accent" [disabled]="productForm.invalid" (click)="createProduct()"><mat-icon>save</mat-icon>Create product</button>
            <div class="buttons-group">
                <button mat-stroked-button color="accent"><mat-icon>format_list_bulleted_add</mat-icon>Create more </button>
                <button mat-stroked-button (click)="closeDialog()"><mat-icon>arrow_back</mat-icon>Cancel</button>
            </div>

        </div>
    </div>
    <div class="feature-container">
        <h3>Preview product's image</h3>
        <div class="image-container">
            <img [src]="imageUrl?.value" #image [ngClass]="{'hide-image': !imageValidated}">
            
            <div class="image-not-loaded" *ngIf="!imageValidated">
                 Image not loaded
            </div>
        </div>
        <div class="image-svg">
            <img src="../../../../../assets/add.svg">
        </div>
        

    </div>
</div>