<div class="container">
    <div class="side-nav">
        <div class="logo">
            <h1 class="font-montserrat">LOGOCOMP</h1>
        </div>
        <div class="side-nav-item" *ngFor="let route of app_routes" [routerLink]="[route.route]" routerLinkActive="active-route" >
            <div [routerLink]="[route.route]" routerLinkActive="selected-route"></div>
            <i [ngClass]="route.fontAwesomeIcon"></i>
            <span>{{route.name}}</span>
        </div>
        <div class="side-nav-item logout" (click)="tokenService.clearOnLogout()">
            <div></div>
            <i ngClass="fa-solid fa-arrow-right-from-bracket"></i>
            <span>Salir</span>
        </div>
    </div>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</div>
