.container {
    display: grid;
    min-width: 40rem;
    max-width: 60rem;
    min-height: 620px;
    max-height: 85vh;
    overflow-y: auto;
    padding: 20px 0;
    position: relative;
    
}
.drag-area {
    width: 85%;
    border: 2px dashed var(--secondary-color);
    height: 85%;
    margin: auto;
    border-radius: var(--border-radius-sidenav);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .header {
        font-size: 1.4rem;
        font-weight: 500;
        color: var(--muted-color);
    }

    .support {
        font-size: 0.8rem;
        color: var(--muted-color);
        margin-top: 10px;
    }

    .button {
        color: var(--secondary-color);
        cursor: pointer;
    }

    img {
        width: 15rem;
        height: 15rem;
    }

    .error__message {
        font-size: 0.8rem;
        margin-top: 10px;
        color: var(--danger-color);
        font-weight: 400;
    }
}

.file-products-wrapper {
    width: 85%;
    border: 2px dashed var(--secondary-color);
    height: 85%;
    margin: auto;
    border-radius: var(--border-radius-sidenav);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .selected-file-info {
        display: flex;
        flex-direction: column;
        width: 90%;
        border-radius: var(--border-radius-sidenav);
        background: var(--table-light-background);

        .selected-file-wrapper {
            padding: 20px 20px 0 20px;
            width: 100%;
            
            font-weight: 500;
            
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
    
            .text-file {
                overflow: hidden;
                text-overflow: clip; 
                white-space: nowrap;
                width: 280px;
            }
    
            button {
                width: 30%;
                margin-right: 5px;
            }
    
            .delete-button {
                position: absolute;
                right: 0;
                top: 0;
                background: var(--danger-color);
                color: #fff;
                padding: 2px 6px;
                border-radius: 4px;
                cursor: pointer;
                transition: all 200ms ease-in-out;
    
                &:hover {
                    background: var(--danger-color-hover);
                }
            }
        }

        .progress-bar {
            padding: 20px;
        }
    }


}

.close-button {
    position: absolute;
    right: 0;
    margin-top: 7px;
    margin-right: 7px;
}