<div class="container">
    <button mat-icon-button class="close-button" (click)="closeDialog()">
        <mat-icon>close</mat-icon>
    </button>
    <div class="drag-area" (dragover)="dragOverItem($event)"  (drop)="getFileFromDragAndDrop($event)" *ngIf="!file">
        
            <img src="../../../../../assets/add.svg">
        

        <span class="header">Drag & drop or <label for="file-input"><span class="button" >browse</span></label></span>
        <input type="file" hidden id="file-input" (change)="getFileFromInput($event)">
        <span class="support">Supports only xlsx files.</span>
        <span class="error__message" *ngIf="errorMessageActive">This is not an xlsx file. Drop only xlxs files.</span>
    </div>
    <div class="file-products-wrapper" *ngIf="file">
        
        <div class="selected-file-info">
            <div class="selected-file-wrapper">
                <div class="delete-button" (click)="deleteFile()">
                    x
                </div>
                <div class="text-file">{{file.name}}</div>
                <button mat-stroked-button color="primary">
                    <mat-icon>sync</mat-icon>
                    Process file
                </button>
            </div>
            <div class="progress-bar">
                <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
            </div>    
                
            
        </div>
    </div>
</div>