.container {
    display: grid;
    width: 35rem;
    max-width: 95vw;
    min-height: 35rem;
    overflow-y: auto;
    padding: 0;
    position: relative;
    
}
.drag-area {
    width: 85%;
    border: 2px dashed var(--secondary-color);
    height: 85%;
    margin: auto;
    border-radius: var(--border-radius-sidenav);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .header {
        font-size: 1.4rem;
        font-weight: 500;
        color: var(--muted-color);
    }

    .support {
        font-size: 0.8rem;
        color: var(--muted-color);
        margin-top: 10px;
    }

    .button {
        color: var(--secondary-color);
        cursor: pointer;
    }

    img {
        width: 10rem;
        height: 10rem;
    }

    .error__message {
        font-size: 0.8rem;
        margin-top: 10px;
        color: var(--danger-color);
        font-weight: 400;
    }
}

.file-products-wrapper {
    width: 85%;
    border: 2px dashed var(--secondary-color);
    height: 85%;
    margin: auto;
    border-radius: var(--border-radius-sidenav);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .selected-file-info {
        display: flex;
        flex-direction: column;
        width: 90%;
        border-radius: var(--border-radius-sidenav);
        background: var(--table-light-background);

        .selected-file-wrapper {
            padding: 20px;
            width: 100%;
            font-weight: 500;
            font-size: 0.95rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
    
            .text-file {
                overflow: hidden;
                text-overflow: clip; 
                white-space: nowrap;
                width: 280px;
            }
    
            button {
                width: 35%;
                margin-right: 5px;
            }
    
            .delete-button {
                position: absolute;
                right: 0;
                top: 0;
                background: var(--danger-color);
                color: #fff;
                padding: 0px 6px 2px 6px;
                border-radius: 4px;
                cursor: pointer;
                transition: all 200ms ease-in-out;
    
                &:hover {
                    background: var(--danger-color-hover);
                }
            }
        }

        .progress-bar {
            padding-bottom: 20px;
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}

.close-button {
    position: absolute;
    right: 0;
}

.table-wrapper {
    width: 100%;
    padding: 0 20px 20px 20px;
    box-shadow: 0 0.125rem 0.1875rem rgb(0 0 0 / 10%);
    border-radius: var(--border-radius-sidenav);
    overflow-y: auto;
    background-color: #fff;

    .body {
        overflow: auto;
        max-height: 500px;
    }

    h3 {
        font-size: 1.5rem;
        color: var(--muted-color);
        font-weight: 500;
        margin: 1rem 0;
    }

    .header, .body-item-wrapper {
        width: 100%;
        display: grid;
        grid-template-columns: 0.20fr 0.20fr 0.07fr 0.07fr 0.20fr 0.20fr 0.07fr;
        grid-gap: 0.5rem;
        color: var(--muted-color);
        padding: 0 0.5rem;
        border-radius: 0.3rem;
    }

    .header {
        padding-top: 20px;
        font-size: 0.85rem;
        font-weight: 500;
        padding-bottom: 1rem;
        position: sticky;
        top: 0; 
        z-index: 1;
        background-color: #fff;
    }

    .body-item-wrapper {
        div {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            input, select {
                width: 100%;
                height: 70%;
                padding: 0 0.4rem;
                color: var(--muted-color);
                border-radius: 4px;
                outline: 0;
                border-width: 0;
                border: 1px solid #9e9e9e;

                &:focus {
                    outline: 0;
                    border-width: 0;
                    border: 0.125rem solid var(--primary-color);
                }
            }

            .input-number-text {
                text-align: center;
                padding-left: 0;
            }
        }

        &:nth-child(even) {
            background: var(--table-light-background);
        }
    }
}

.error-input {
    outline: 0;
    border-width: 0;
    border: 1px solid var(--danger-color) !important;
    border-radius: 4px;
    &:focus {
            outline: 0;
            border-width: 0;
            border: 0.125rem solid var(--danger-color) !important;
    }
}